<div class="off-canvas-wrap support_gc_page" data-offcanvas>
  <div class="inner-wrap">
    {{outlet "appMenuList"}}

    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">
          <i class="fa fa-heart" aria-hidden="true"></i>
          {{t "support.title"}}
        </h1>
      </section>
    </nav>

    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">

          {{#if hasDonationDetail}}

            <div class="center">
              {{t "support.donation_done_on" amount=donationAmount date=(display-datetime donationDate format='DD MMMM YYYY')}}
            </div>
            <div class="center">{{t "support.donate_again"}}</div>

          {{else}}

            <div class="center">{{t "support.rely_on_donation"}}</div>
            <div class="center">{{t "support.give_secure"}}</div>
           {{/if}}

          {{braintree-form}}

          <div>{{t "support.about_goodcity"}}</div>

          <div class="donation_info">
            {{t "support.other_methods"}}
            {{#external-link linkUrl="https://www.crossroads.org.hk/home/donate-funds/"}}
              {{t "support.via_crossroads"}} <i class="fa fa-external-link"></i>
            {{/external-link}}
          </div>

          <div class="donation_info">
            {{t "support.contact_us"}}
            <ul>
              <li>{{t "support.need_receipt"}}</li>
              <li>{{t "support.know_cost"}}</li>
              <li>{{t "support.wish_for_sponsor"}}</li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    <a class="exit-off-canvas"></a>

  </div>
</div>
